.card {
  background-color: white;
  background-image: url(../images/bg-pattern-mobile.svg);
  font-family: "Kumbh Sans", sans-serif;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  position: relative;
  margin-top: 147px;
  margin-bottom: auto;
  width: 327px;
  border-radius: 25px;
  box-shadow: 0px 60px 45px -25px #543eb6;
}
.card__title {
  display: block;
  font-size: 30px;
  color: #af67e9;
  margin-top: 20px;
  margin-bottom: 35px;
  position: relative;
  text-align: center;
}
.card__item {
  margin: 18px 0 18px 0;
  font-size: 12px;
}
.card__question {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #4a4b5e;
  columns: #4a4b5e;
  justify-content: space-between;
  transition: color 200ms;
}
.card__question:hover {
  color: #f47c57;
}
.card__question--active {
  font-weight: 700;
  color: #1d1e35;
}
.card__answer {
  display: block;
  height: 0;
  position: relative;
  overflow: hidden;
  width: 15rem;
  font-size: 12px;
  color: #787887;
  line-height: 1.5;
  transition: 250ms;
}
.card__answer--active {
  height: 35px;
  margin-top: 10px;
}
.card__main-image-mobile {
  display: block;
  height: 100%;
}
.card__main-image-desktop {
  display: none;
  height: 100%;
}
.card__main-image-container {
  padding: 3rem;
  position: absolute;
  top: -150px;
  width: 100%;
}
.card__content {
  padding: 0 25px;
}
.card__divider {
  border-color: #e7e7e9;
  border-style: solid none none none;
}
.card__arrow {
  display: block;
  transition: 500ms;
}
.card__arrow--active {
  transform: scaleY(-1);
}
.card__box-image {
  display: none;
}
.card__bg-pattern {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer p {
  display: block;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

.wrapper {
  background-image: linear-gradient(#af67e9, #6565e7);
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 65px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1100px) {
  .wrapper {
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .card {
    box-sizing: border-box;
    padding: 50px 150px 50px 50px;
    min-height: 510px;
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 962px;
    align-items: center;
    overflow: hidden;
    background-image: none;
  }
  .card__main-image-container {
    padding: 0;
    margin: 0;
    position: absolute;
    padding: 50px 0 50px 0;
    left: -95px;
    top: auto;
    margin: auto 0;
    height: 510px;
    width: auto;
  }
  .card__main-image-mobile {
    display: none;
  }
  .card__main-image-desktop {
    display: block;
    position: relative;
    z-index: 5;
    margin: 0;
  }
  .card__content {
    margin-left: 500px;
    width: 450px;
  }
  .card__title {
    text-align: left;
  }
  .card__answer {
    width: 20rem;
  }
  .card__box-image {
    display: block;
    position: fixed;
    top: 45%;
    margin-left: -140px;
    z-index: 10;
  }
  .card__bg-pattern {
    display: block;
    position: absolute;
    top: -290px;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
