@use "abstracts/color";
@use "abstracts/fonts";
@use "components/card";
@use "components/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
}


.wrapper {
    background-image: linear-gradient(color.$softViolet, color.$softBlue);
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}


