@use "../abstracts/fonts";
@use "../abstracts/color";


.card {
    background-color: white;
    background-image: url(../images/bg-pattern-mobile.svg);
    font-family: fonts.$font-family;
    
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    position: relative;
    margin-top: 147px;
    margin-bottom: auto;
    width: 327px;
    border-radius: 25px;

    &__title {
        display: block;
        font-size: 30px;
        color: color.$varyDarkSaturatedBlue;
        margin-top: 20px;
        margin-bottom: 35px;
        position: relative;
        text-align: center;
    }

    &__content {
        padding: 25px;
    }

    &__item {
        margin: 18px 0 18px 0;
        font-size: fonts.$fs-paragraph;
    }

    &__question {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: color.$veryDarkGrayishBlue;
        columns: color.$veryDarkGrayishBlue;
        justify-content: space-between;

        &--active {
            font-weight: 700;
            color: color.$varyDarkSaturatedBlue;
        }
    }

    &__answer {
        display: block;
        height: 0;
        position: relative;
        overflow: hidden;
        width: 15rem;
        font-size: fonts.$fs-paragraph;
        color: color.$darkGrayishBlue;
        line-height: 1.5;
        transition: 250ms;

        &--active {
            height: 35px;
            margin-top: 10px;
        }

    }

    &__main-image {
        display: block;
        // position: relative;
        // position: absolute;
        height: 100%;


    }

    &__main-image-container {
        padding: 3rem;
        position: absolute;
        top: -150px;
        width: 100%;
    }

    &__divider {
        // height: 10px;
        // margin: 0 0 10px 0;
        border-color: color.$lightGrayishBlue;
        border-style: solid none none none;
    }

    
    .card__arrow {
        display: block;
        transition: 500ms;

        &--active {
            transform: scaleY(-1);
        }
    }

    
}